body {
	height: 100%;
	width: 100%;
	font-size: 18px;
	line-height: 1.7;
	font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: #434446;
}

html,
body,
ul,
li {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #0645ad;
}

a:visited {
	color: #0b0080;
}

a:hover {
	color: #06e;
	cursor:pointer;
}

.main-content a {
	position: relative;
}

/**
* Make body at least 100% height
* You can also use a combination
* of height: 100% in <html> and
* min-height: 100% in <body>.
*/
.holy-grail {
	min-height: 100vh;
}

/**
* Let's do a column distribution
* (mobile first)
* flex value is 1 1 auto to make
* body skrinkable and extensible
*/
.holy-grail,
.holy-grail-body {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
}

/**
* Content body item is made
* extensible too.
*/
.holy-grail-content {
	flex: 1 1 auto;
}

/**
* Put the first sidebar before content.
* If you need sidebar to be before content
* only in big screen put those 3 next lines
* in @media block.
*/
.holy-grail-sidebar-1 {
	order: -1;
}

/**
* Let's introduce bigger screen
*/

@media (min-width: 768px) {
	/**
* Body items are now side by side
	*/
	.holy-grail-body {
		flex-direction: row;
	}

	/**
* Sidebars have a basic 260 width
* and are not really flexible anymore
	*/
	.hg-sidebar {
		flex: 0 0 260px;
	}
}

/**
* Images a now responsive
*/
img {
	max-width: 100%;
	height: auto;
}

/**
* Limit the container in
* width for big screens
*/
.container {
	width: 960px;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
}

/**
* By using display: flex
* Logo and nav are in 2 cols
* align-items make them
* vertically centered
* justify-content distribute
* horizontal spaces around
* and flex-wrap break the
* things in two lines in
* small screens
*/
.main-header .container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

/**
* The followings are to
* make things more
* clean and airy
* and contents centered
*/
.main-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
}
.main-nav li {
	display: inline;
}
.main-nav a {
	display: inline-block;
	padding: .5em 1.5em;
}

/**
* Space-around become
* Space-between to
* distribute space
* between the flex-items
*/
@media (min-width: 960px) {
	.main-header .container {
		justify-content: space-between;
	}
}
