</article>
<aside class="holy-grail-sidebar-2 hg-sidebar">
	<!-- sidebar 2 content -->
</aside>
</div>
</div>
<footer class="main-footer">
	<div class="container">
		<p> 2022 SZanko find the Sourcecode of this page at
			<a href="https://gitlab.com/SZanko/szanko.gitlab.io" hreflang="en"> my Gitlab Repo </a>
		</p>
		<p> The Tux Logo is under the <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a> License, via Wikimedia Commons the file can be found at <a href="https://commons.wikimedia.org/wiki/File:Linux_Logo_in_Linux_Libertine_Font.svg" alt="Link to the Logo Page"> Wikimedia</a>. </p>
		<p> The Rss Logo is under the <a href="https://www.gnu.org/licenses/gpl.html" title="GNU General Public License">GPL</a> License found at <a href="https://en.wikipedia.org/wiki/File:Feed-icon.svg" alt="Link to the Logo Page"> Wikimedia</a>. </p>
	</div>
</footer>
</body>
</html>
